@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #020408;
  color: #ffffff;
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  background: #020408;
}

::-webkit-scrollbar-thumb {
  background: #63b3ff44;
  border-radius: 2px;
}